@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: 'Open Sans', sans-serif;
}
img{
	max-width: 100%;
	display: block;
}


/*navbar start*/
.navbar-dark .navbar-nav .show > .nav-link, .navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .nav-link.active {
	color: #fff;
	font-size: 16px;
	font-weight: 600;
	padding: 0 25px;
}

.navbar-brand {
	display: inline-block;
	padding-top: 0.3125rem;
	padding-bottom: 0.3125rem;
	margin-right: 1rem;
	font-size: 1.25rem;
	line-height: inherit;
	white-space: nowrap;
	font-weight: 700;
}

.bg-dark {
	background-color: #2C3E50 !important;
	padding: 25px 0;
}
/*navbar end*/

/*slider start*/
.slider-section{
	background: #1ABC9C;
	
}
.slider-item{
	padding: 50px 0;
	text-align: center;
	color: #fff;
}
.slider-item img{
	height: 250px;
	margin: 0 auto;

}
.slider-item h1{
	color: #fff;
	font-weight: 700;
	font-size: 60px;
	text-align: center;
	padding: 30px 0;
}
.slider-item p{
	font-size: 25px;
	font-weight: 500;
}

/*slider end*/

/*portfolio start*/
.portfolio-section{
	padding-bottom: 50px;
}
.portfolio-section h1{
	color: #2C3E50;
	text-align: center;
	font-weight: 600;
	font-size: 60px;
	padding: 50px 0;
}
.portfolio-item img{
	border-radius: 10px;
}

/*portfolio end*/


/*about start*/
.about-section {
	background: #1ABC9C;
	padding-bottom: 60px;
}
.about-section h1{
	color: #fff;
	text-align: center;
	font-weight: 600;
	font-size: 60px;
	padding: 50px 0;

}
.about-section p{
	padding-bottom: 50px;
	color: #fff;
	font-weight: 500;
	line-height: 1.5;
	font-size: 25px;
}

.about-section button{
    display: block;
    margin: 0 auto;
    background: none;
    color: white;
    border: 1px solid white;
    padding: 13px 40px;
    font-size: 21px;
    margin-top:30px;
    transition:.4s ease;
}


.about-section button:hover{
	background:white;
	color:black;
}
/*about end*/


/*contact section start*/
.contact{
	padding:50px 0;
}
.contact h1{
    color: #2C3E50;
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
}
.contact span{
	background: #2c3e50;
	width: 230px;
	height: 5px;
	border-radius: 10px;
	display: block;
	margin: 20px auto;
	margin-bottom:50px;
}
.contact-form{
	padding: 50px 0;
}
.contact-form input, .contact-form textarea {
    font-size: 21px;
    font-weight: 500;
    outline:none;
    font-family: verdana;
    letter-spacing: -0.8px;
}

.contact-form input:focus, .contact-form textarea:focus{
	outline:none;
}

.contact-form button{
	padding:16px 30px;
	background:#1ABC9C;
	outline:none;
	border:2px solid #fff;
}
.contact-form button:hover{
	padding:16px 30px;
	background:#fff;
	outline:none;
	border:2px solid #1ABC9C;
	color: #1ABC9C;
}


/*contact section end*/



/*footer start*/
.footer{
    background: #2c3e50;
    padding:50px 0;
}
.footer-content{
    text-align: center;
}
.footer-content h5{
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.1px;
    color: #ffffff;
}
.footer-content p{
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
}

.footer-content a{
    color: #1abc9c;
    text-decoration: none;
}

.footer-content a:hover{
	text-decoration: underline;
	color: #25907b;
}

.footer-content a:hover {
	text-decoration: none;
	color: #25907b;
}
/*footer end*/

.copyright{
    background: #1A252F;
    padding: 25px 0;
}
.copyright-content{
	color:#fff;
}
.copyright-content p{
	color: #fff;
	font-size: 18px;
	text-align: center;
	padding-top: 10px;
}




@media (max-width:768px){
	.slider-item h1{
	font-size: 45px;
}

.portfolio-section h1{

	font-size:40px;
}


.portfolio-section img{
	width:90%;
	text-align:center;
	display:block;
	margin:0 auto;
}

.about-section h1{
	font-size:40px;
}

.about-section p{
	font-size:16px;
	padding:0 30px;
}


.contact h1{
	font-size:40px;
}

.contact-form{
	padding:0 30px;
}


.footer-content .same{
	padding-bottom:50px;
}

.footer-content h5{
	padding-bottom:0 !important;
	font-size:25px;

}

.footer-content p{
	font-size:16px;
}




}